
<div class="form-group-new">
<div class="col-lg-12">
<div class="col-md-8">
<div class="col-sm-10">
<h1>VideoBucket<img src="/img/bucket.png"> </h1>

<form class="form-horizontal" action='/videos/<%= "#{@video.id}" %>' method="post">
<legend><h2>Edit Video</h2></legend>

<fieldset>
  <label for="video[caption]">Caption:</label>
  <input name="video[caption]" class="form-control" value='<%= "#{@video.caption}" %>'>

  <label for="video[video_url]">Video URL:</label>
  <input name="video[video_url]" class="form-control" value='<%= "#{@video.video_url}" %>'>

  <label for="video[description]">Description:</label>
  <input name="video[description]" class="form-control" value='<%= "#{@video.description}" %>'>

  <input type="submit" value="Edit" method = "post" action="/videos/<%= @video %>">
 </fieldset>
</form>
</div>
</div>
</div>
</div>
